{% extends "layout.html" %}

    {% block conteudo %}

<link rel="stylesheet" href="../static/styles/catalogo.css">

<section class="product-banner-full">
    <h1 class="banner-title">CATÁLOGO</h1>
        <p class="banner-subtitle">
            Descubra os sabores exclusivos da Kuma Espresso
        </p>
</section>

<main class="main-container">
    
    <div class="results-count">
        Mostrando <span class="highlight">12</span> resultados
    </div>

    <div class="products-grid-full">
        {% for produto in produtos %}
        <a href="/produto/{{ produto.id_produto }}">
            <div class="product-card">
                <div class="product-image-placeholder">
                    <span><img src="{{ produto.imagem_produto }}" alt="{{ produto.nome_produto }}"></span>
                </div>
                <div class="product-info">
                    <h4 class="product-name">{{ produto.nome_produto }}</h4>
                    <p class="product-price">{{ produto.preco_produto }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</main>

{% endblock %}