{% extends "layout.html" %}

    {% block conteudo %}
    <link rel="stylesheet" href="../static/styles/inicio.css">
    <link rel="stylesheet" href="../static/styles/">
    <!-- Banner -->
    <section class="carousel-container">
        <button class="nav-btn prev-btn">←</button>

        <div class="product-stage">
            <div class="product-card active">
                <img src="../static/img/cafe-pingado.png" alt="Café Tradicional">
            </div>

            <div class="product-card">
                <img src="../static/img/cafe-gelado.png" alt="Café Caramelo">
            </div>

            <div class="product-card">
                <img src="../static/img/cafe-espresso.png" alt="Café Baunilha">
            </div>
        </div>
        <div class="description-container"></div>
        <button class="nav-btn next-btn">→</button>
    </section>

    <!-- Categorias -->
    <section>
        <h1>Destaques</h1>
        {% for categoria in categorias %}
        <figure class="figure">
            <img src="{{ categoria.imagem_categoria }}" class="figure-img" alt="{{ categoria.categoria }}">
            <figcaption class="figure-caption">{{ categoria.categoria }}</figcaption>
        </figure>
        {% endfor %}
    </section>

    <!-- Sobre a loja -->
    <section class="sobre_nos">
        <div class="infos-esquerda">
            <h3>Info 1</h3>
            <p>Bla bla bla</p>
            <h3>Info 3</h3>
            <p>Bla bla bla</p>
        </div>

        <img src="" alt="">

        <div class="infos-direita">
            <h3>Info 2</h3>
            <p>Bla bla bla</p>
            <h3>Info 4</h3>
            <p>Bla bla bla</p>
        </div>
    </section>

    <!-- Slogan -->
    <section class="slogan">
        <h1>SLOGAN AQUI</h1>
        <img src="" alt="">
    </section>

{% endblock %}