{% extends "layout.html" %}

    {% block conteudo %}
    <link rel="stylesheet" href="../static/styles/inicio.css">
    <link rel="stylesheet" href="../static/styles/">
    <!-- Banner -->
    <section class="carousel-container">
        <button class="nav-btn prev-btn">←</button>

        <div class="product-stage">
            <div class="product-card active">
                <img src="../static/img/cafe-pingado.png" alt="Café Tradicional">
            </div>

            <div class="product-card">
                <img src="../static/img/cafe-gelado.png" alt="Café Caramelo">
            </div>

            <div class="product-card">
                <img src="../static/img/cafe-espresso.png" alt="Café Baunilha">
            </div>
        </div>
        <div class="description-container"></div>
        <button class="nav-btn next-btn">→</button>
    </section>

    <!-- Categorias -->
    <section>
        <h1>Especialidades</h1>
        {% for categoria in categorias %}
        <a href="/produtos/{{ categoria.id_categoria }}">
            <figure class="figure">
                <img src="{{ categoria.imagem_categoria }}" class="figure-img" alt="{{ categoria.categoria }}">
                <figcaption class="figure-caption">{{ categoria.categoria }}</figcaption>
            </figure>
        </a>
        {% endfor %}
    </section>

    <!-- Sobre a loja -->
    
    <section class="sobre_nos_container">

   <h1 class="titulo-sobre">Sobre Nós</h1>

    <section class="sobre_nos">

         
        <div class="infos-esquerda">
            <h3>Grãos Selecionados</h3>
            <p>Escolhemos cuidadosamente cada grão para oferecer uma experiência única em cada xícara.</p>

            <h3>Torra Artesanal</h3>
            <p>Processos controlados para preservar aromas e destacar as melhores notas do café.</p>
        </div>

        <img src="../static/img/copo-base.png" alt="Kuma Espresso">

        <div class="infos-direita">
            <h3>Qualidade Premium</h3>
            <p>Ingredientes selecionados e preparo cuidadoso para garantir excelência em cada bebida.</p>

            <h3>Experiência Única</h3>
            <p>Mais que café, criamos momentos especiais para acompanhar o seu dia.</p>
        </div>
    </section>

</section>
    <!-- Slogan -->
    <section class="slogan">
        <h1>Slogan promocional!</h1>
        <img src="">
    </section>

{% endblock %}