<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuma Espresso</title>
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="../static/js/carrossel.js" defer></script>

    <script src="../static/js/comentario.js" defer></script>
</head>
<body>

    <header class="header-transparente">
        <nav class="nav-container">
            
            <ul class="menu-esquerdo">
                <li><a href="/">Início</a></li>
                <li><a href="/#sobre_nos">Sobre Nós</a></li>
                <li><a href="/como_chegar">Como chegar</a></li>
                
            </ul>

            <div class="logo-centro">
                <img src="{{ url_for('static', filename='img/logo-transparente.png') }}">
            </div>

            <div class="lado-direito-container">
                <ul class="menu-direito">
                    <li class="dropdown">
                    <a href="#">
                        Categorias
                        <i class="fas fa-chevron-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        {% for categoria in categorias_menu %}
                        <li>
                            <a href="/produtos/{{ categoria.id_categoria }}">
                                {{ categoria.categoria }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                    <li><a href="/catalogo">Catálogo</a></li>
                </ul>

                <div class="icones-usuario">
                    <a href="/#" title="Carrinho"><i class="fas fa-shopping-cart"></i></a>
                    {% if session.get('usuario_logado') %}
                    <span class="user">Olá {{ session.usuario_logado['nome_usuario'] }}</span>
                    <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    {% else %}
                    <a href="/login" title="Login"><i class="fas fa-user-circle"></i></a>
                    {% endif %}
                </div>
            </div>

        </nav>
    </header>

    
        {% block conteudo %}
        <!-- O conteúdo das páginas vai aqui -->
        {% endblock %}
   

    <footer>
        <div class="footer-container">
            
            <div class="footer-esquerda">
                <h3>Faça parte da nossa equipe</h3>
                <a href="https://br.indeed.com/?from=jobsearch-empty-whatwhere"><button type="button">Junte-se a nós!</button></a>
            </div>

            <div class="footer-centro">
                <img src="{{ url_for('static', filename='img/logo-transparente.png') }}" alt="Kuma Espresso" class="logo-footer">
                <p>@2026 desenvolvido por Nicole Costa, Jenifer Gonçalves, Fernanda Gaspar e Leonardo Teodoro</p>
            </div>

            <div class="footer-direita">
                <h3>Contate-nos</h3>
                <div class="bolinhas-sociais">
                    <a href="https://www.instagram.com/" title="Instagram"><i class="fa-brands fa-instagram"></i></i></a>
                    <a href="https://api.whatsapp.com/" title="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://play.google.com/store/apps/details?id=com.google.android.dialer&hl=pt_BR" title="Telefone"><i class="fas fa-phone"></i></a>
                    <a href="https://mail.google.com/" title="E-mail"><i class="fas fa-envelope"></i></a>
                </div>
            </div>

        </div>
    </footer>

</body>
</html>