<link rel="stylesheet" href="../static/styles/login-cadastro.css">
<section class="pag_login">
    <h1>Login</h1>
    <form action="/login/post" method="POST">
        <span><img src="../static/img/logo-kuma-preenchido.png" alt="Logo Kuma"></span>
        <div class="campos">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email aqui.">

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha aqui.">
        </div>
        <button type="submit">Logar</button>
    </form>
    <a href="/cadastro">Não tem conta? Cadastre-se aqui.</a>
</section>